// Footer
.footer {
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $medium-grey;
    color: $light-grey;
    height: $sidebar;
    width: 100vw;
    padding: 0;
    div {
        padding: 0.5rem 0.75rem;
    }
    .social-icons {
        display: flex;
        align-items: center;
        .icon {
            height: 1.25em;
            width: 1.25em;
            &:first-child {
                margin-right: 1em;
            }
            .svg-inline--fa {
                width: 100%;
                height: 100%;

                path {
                    fill: $light-grey;
                }
                &:hover {
                    path {
                        fill: $white;
                    }
                }
            }
            i {
                color: $light-grey;
            }
        }
    }
    .copyright {
        font-size: .5em;
        text-align: right;
        text-transform: uppercase;
        width: 15vw;
    }
}

@media screen and (max-width: $tablet) {
    // .footer {
    //     position: relative;
    //     right: unset;
    //     left: 0;
    //     bottom: 0;
    //     width: 100%;
    //     height: auto;
    //     margin: 0;
    //     flex-direction: row;
    //     align-items: center;
    //     padding-bottom: 5px;
    //     .div {
    //         padding: 1em;
    //     }
    //     .social-icons {
    //         flex-direction: row;
    //         .icon {
    //             height: 1.75em;
    //             width: 1.75em;
    //             &:first-child {
    //                 margin-bottom: 0;
    //                 margin-right: 1em;
    //             }
    //         }
            
    //     }
    //     .copyright {
    //         font-size: .8em;
    //         width: auto;
    //     }
        
    // }
}
