.navbar {
    height: $sidebar;
    width: 100vw;
    min-width: 100vw;
    padding: 0;
    box-shadow: 0 1px 5px $grey-shadow;
    .container {
        display: flex;
        justify-content: space-between;
    }
    a {
        color: $dark-grey;
        text-transform: uppercase;
        letter-spacing: .1em;
        font-family: $system-font;
        &:hover {
            color: $light-grey;
            background: transparent;
        }
    }
    .navbar-brand {
        font-weight: 700;
    }
    .navbar-end {
        .navbar-item {
            background: transparent;
            font-size: .75em;
            &:hover {
                background: transparent;
            }
        }
    }
}


@media screen and (max-width: $tablet) {
    header {
        .navbar {
            height: $sidebar-mobile;
            .navbar-brand {
                justify-content: center;
                font-size: 1.5em;
            }
            .navbar-end {
                display: flex;
                align-items: center;
            }
        }
    }
}