.body {
    background: $white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    width: $content;
    max-width: $content;
    margin: 0 auto;
}

.section {
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $dark-grey;
    a {
        color: $dark-grey;
        &:hover {
            color: $light-grey;
        }
    }
}

@media screen and (max-width: $tablet) {
    // .body {
    //     flex-direction: column;
    // }
    // main {
    //     width: 100vw;
    //     max-width: 100vw;
    //     .section {
    //         width: 100vw;
    //         height: auto;
    //         padding: 4.5rem 1.5rem;
    //     }
    // }
}