.body {
    background: $dark-grey;
    display: flex;
    min-height: 100vh;
}

main {
    width: $content;
    max-width: $content;
    margin: 0 auto;
}

.section {
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $white;
    a {
        color: white;
        &:hover {
            color: $light-grey;
        }
    }
}

#about {
    ul {
        padding: 1em 0;
        li {
            margin-left: 2em;
            text-indent: -1.75em;
            span {
                padding-right: .5em;
            }
        }
    }
}

#resume {
    svg, i {
        margin: 0 .25em;
    }

    h3 {
        margin-top: .5em;
    }

    .resume-dates {
        font-size: .8em;
    }

}

#contact {
    .icon {
        margin-right: .25em;
    }
}

@media screen and (max-width: $tablet) {
    .body {
        flex-direction: column;
    }
    main {
        width: 100vw;
        max-width: 100vw;
        .section {
            width: 100vw;
            height: auto;
            padding: 4.5rem 1.5rem;
        }
    }
}